.aboutContainer {
  @include flexContainer($aboutBackgroundColor, column, 100vh, auto);
  header {
    @include middleHeader;
    margin-bottom: 30px;
  }
  p {
    @include middleP;
    margin-top: 0;
  }
}

.AboutDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 35vw;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  cursor: pointer;
  .anime {
    width: 40%;
    display: flex;
  }
}

div.slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slick-slide img {
  display: inline-flex;
  width: 49%;
  height: 185px;
  margin: 0;

}

img.leftGif {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

img.rightGif {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.slick-prev:before {
  width: 40px;
  height: 46px;
  content: "" !important;
  position: absolute;
  top: -11px;
  left: -71px;
  background-image: url("./../leftArrow.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 40px;
  opacity: 0.5;
  transition: $transition;
  &:hover {
    opacity: 1;
  }
  animation: bounceLeft 2.5s infinite;
}

.slick-next:before {
  width: 40px;
  height: 46px;
  content: "" !important;
  position: absolute;
  top: -11px;
  left: 47px;
  background-image: url("./../rightArrow.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 40px;
  opacity: 0.5;
  transition: $transition;
  &:hover {
    opacity: 1;
  }
  animation: bounceRight 2.5s infinite;
}

/////////////////////
// Mobile Viewport //
/////////////////////

@media only screen and (max-width: 40em) {
  .aboutContainer {
    @include flexContainer($aboutBackgroundColor, column, 100vh, auto);
    header {
      @include mobileHeader;
    }
  }
  
  .AboutDetails {
    height: auto;
    width: 36vw;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: .6em;
    line-height: 1.5em;
    cursor: pointer;
  }
  
  .slick-slide img {
    display: inline-flex;
    width: 100%;
    height: 85px;
    margin: 20px 0;
    border: 2px solid transparent;
  }

  .anime {
    display: flex;
    flex-direction: column;
  }

  img.leftGif {
    border: 20px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 5px;
  }

  img.rightGif {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .slick-prev:before {
    width: 40px;
    height: 46px;
    content: "" !important;
    position: absolute;
    top: -11px;
    left: -71px;
    background-image: url("./../leftArrow.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 40px;
    opacity: 0.5;
    transition: $transition;
    &:focus {
      opacity: 1;
    }
    animation: bounceLeft 2.5s infinite;
  }
  
  .slick-next:before {
    width: 40px;
    height: 46px;
    content: "" !important;
    position: absolute;
    top: -11px;
    left: 47px;
    background-image: url("./../rightArrow.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 40px;
    opacity: 0.5;
    transition: $transition;
    &:focus {
      opacity: 1;
    }
    animation: bounceRight 2.5s infinite;
  }
}