.contactContainer {
  @include flexContainer($contactBackgroundColor, column, 100vh, auto);
  header {
    @include middleHeader;
  }
  p {
    @include middleP;
  }
  section {
    height: 20vh;
    width: 30%;
    display: flex;
    justify-content: space-between;

    a {
      margin: auto;
      padding: 5% 0 0 0;
      width: 15%;
      height: auto;
      text-decoration: none;
    }
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
  margin: 0 auto;
  text-align: center;
  transition: $transitionContact;
  overflow: visible;
  &:hover {
    letter-spacing: 1.01px;
    transform: perspective(400px) rotateX(5deg) rotateY(10deg) translateZ(20px)
      scale(1.1);
  }
}