.contactContainer {
  @include flexContainer($contactBackgroundColor, column, 100vh, auto);
  header {
    @include middleHeader;
  }
  p {
    @include middleP;
    margin-bottom: 0;
  }
  section {
    height: 10vh;
    width: 30%;
    display: flex;
    justify-content: space-between;

    a {
      margin: auto;
      padding: 4% 0 0 0;
      width: 15%;
      height: auto;
      text-decoration: none;
    }
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
  margin: 0 auto;
  text-align: center;
  transition: $transitionContact;
  overflow: visible;
  &:hover {
    transform: scale(1.3)
  }
  h3 {
    display: none;
  }
}

@media only screen and (max-width: 40em) {
  .contactContainer {
    @include flexContainer($contactBackgroundColor, column, 100vh, auto);
    header {
      font-size: 3em;
    }
    p {
      @include mobileP;
    }
    section {
      height: auto;
      width: 60vw;
      display: flex;
      justify-content: space-between;

      a {
        margin: 0 5% 0 5%;
        padding: 0;
        width: 80%;
        height: auto;
        text-decoration: none;
      }
    }
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    margin: 0 10%;
    text-align: center;
    transition: $transitionContact;
    overflow: visible;
    &:hover {
      letter-spacing: 1.01px;
      transform: scale(1.1);
    }
    h3 {
      display: none;
    }
  }
}
