.homeContainer {
  @include flexContainer($homeBackgroundColor, column, 100vh, auto);
  header {
    font-size: 9em;
    line-height: 1px;
  }
  p {
    font-size: 2em;
    letter-spacing: 1.5px;
  }
  h4 {
    @include letterColors($aboutBackgroundColor);
  }
  h5 {
    @include letterColors($projectsBackgroundColor);
  }
  span {
    @include letterColors($contactBackgroundColor);
  }
}

/////////////////////
// Mobile Viewport //
/////////////////////

@media only screen and (max-width: 40em) {
  .homeContainer {
    @include flexContainer($homeBackgroundColor, column, 100vh, auto);
    header {
      @include mobileHeader;
    }
    p {
      font-size: 1.1em;
      letter-spacing: 1.5px;
    }
    h4 {
      @include letterColors($aboutBackgroundColor);
    }
    h5 {
      @include letterColors($projectsBackgroundColor);
    }
    span {
      @include letterColors($contactBackgroundColor);
    }
  }
}