.homeContainer {
  @include flexContainer($homeBackgroundColor, column, 100vh, auto);
  header {
    font-size: 4em;
  }
  p {
    font-size: 1.1em;
    letter-spacing: 1.5px;
  }
  h4 {
    @include letterColors($aboutBackgroundColor);
  }
  h5 {
    @include letterColors($projectsBackgroundColor);
  }
  span {
    @include letterColors($contactBackgroundColor);
  }
}
