.navContainer {
  @include flexContainer(transparent, row, auto, 100vw);
  position: fixed;
  justify-content: flex-end;
  z-index: 999;
  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 5vh 5vw 0 0;
    overflow-y: hidden;
    .navLink {
      margin: auto 1.5vw;
      text-transform: uppercase;
      height: 8vh;
      padding: 2vh 1vh 2vh 1vh;
      text-decoration: none;
      font-size: 1.15em;
      cursor: pointer;
      transition: $transition;
      &:hover {
        transform: scale(1.2);
        color: papayawhip;
      }
    }
  }
}

// Mobile Viewport //
@media only screen and (max-width: 40em) {
  .navContainer {
    @include flexContainer(rgba(0, 0, 0, 0.89), row, 10vh, 100vw);
    position: fixed;
    justify-content: center;
    border-bottom: white ridge 1px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    z-index: 999;
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
    ul {
      margin: 1.4vh 0 auto 0;
      padding: 0;
      justify-content: center;
      .navLink {
        font-size: 1em;
        margin: auto 4vw;
        &:focus {
          color: papayawhip;
        }
      }
    }
  }
}
