$mainFont: white;

$homeBackgroundColor: black;

$aboutBackgroundColor: #4c7c67;
$aboutBackgroundTextColor: #5a8673;

$projectsBackgroundColor: #9b3b3b;
$projectsBackgroundTextColor: #a34a4a;

$contactBackgroundColor: #484754;
$contactBackgroundTextColor: #565561;

$transition: all .5s ease;
$transitionProject: all .2s ease;
