@import "variables", "mixins", "keyframes", "about", "contact", "home", "navbar",
  "projects", "navHover", "modals";

  @font-face {
    src: url(../fonts/Romanson-Regular.ttf);
    font-family: romanson;
  }

  @font-face {
    src: url(../fonts/Sunflower.otf);
    font-family: sunflower;
  }

  @font-face {
    src: url(../fonts/salome-webfont.ttf);
    font-family: salome;
  }

  @font-face {
    src: url(../fonts/Sabre.ttf);
    font-family: sabre;
  }

* {
  color: $mainFont;
  cursor: crosshair;
  font-family: romanson;

}

img {
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}

header {
  font-family: sabre;
}

h1 {
  font-family: sabre;
  letter-spacing: 1.2px;
}
