@import "variables", "mixins", "keyframes", "about", "contact", "home", "navbar", "projects", "navHover";

* {
  color: $mainFont;
  cursor: crosshair;
}

img {
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}
